@charset "utf-8";

/*
原作者:D.Young
日期：2019-07-11
最后修改：ZhangDi
时间:2020-01-01
版权所有，请勿删除
*/

* {
	padding: 0;
	margin: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #ffffff;
}

html {
	font-family: 'SF-Pro-Display-Semibold',
		'PingFangSC-Regular',
		'Microsoft YaHei UI',
		'Microsoft YaHei',
		helvetica,
		sans-serif;
	font-weight: normal;
	color: #000;
}

form,
input,
button {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: none;
}

input::-webkit-input-placeholder {
	color: #ccc;
	letter-spacing: 2px;
	font-size: 18px;
}

ul,
li {
	display: block;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

#content {
	width: 100%;
	height: 100%;
}

.con {
	width: 90%;
	/* transition: 1s all; */
	margin: auto;
	min-width: 320px;
	height: 380px;
	position: absolute;
	left: 0;
	top: -30%;
	right: 0;
	bottom: 0;
}

.con .shlogo {
	position: relative;
	width: 480px;
	height: 100px;
	margin: 20px auto;
	background: url(../img/search.svg) no-repeat center/cover;
	background-size: 3em;

}

@keyframes masked-animation {
	0% {
		background-position: 0 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0 50%
	}
}

.con .shlogo .logo-text {
	background: linear-gradient(45deg, #f3671b, #f09708, #de3959, #9b6614);
	background-size: 200% 200%;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-animation: masked-animation 50s infinite linear;
	opacity: 0.9;
	font-size: 4em;
	text-align: center;
	line-height: 100px;
}

.embed {
	font-family: 'SF-Pro-Display-Semibold',
		'FZCuJinLJW',
		'PingFangSC-Regular',
		'Microsoft YaHei UI',
		'Microsoft YaHei',
		helvetica,
		sans-serif;
	color: #535353;
}

.con .shlogo a {
	width: 100%;
	display: block;
	width: 100%;
	height: 100%;
}

.con .sou {
	max-width: 680px;
	position: relative;
	width: calc(100% - 60px);
	min-width: 320px;
	margin: 0 auto;
}

.con .sou form {
	width: 100%;
	/*border: 1px solid #ddd;*/
	height: 50px;
	display: block;
	margin: 10px auto 30px;
	position: relative;
}

.con .sou form .wd {
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid #ddd;
	border-radius: 25px;
	line-height: 100%;
	text-indent: 20px;
	font-size: 18px;
}

.con .sou form .wd:focus {
	background: #fff;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-color: #fff
}

.con .sou form button {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	z-index: 10;
	right: 6px;
	top: 6px;
	cursor: pointer;
	font-size: 22px;
	line-height: 40px;
	border-radius: 50%;
	color: #777;
}

.con .sou ul {
	height: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.con .sou ul li {
	width: 120px;
	margin: 0 10px;
	float: left;
	-webkit-tap-highlight-color: transparent;
	background: #eee;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-indent: 30px;
	cursor: pointer;
	position: relative;
	border-radius: 20px;
}

.con .sou ul li:active {
	background: #fff;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
}

.con .sou ul li i {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	left: 0;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(0.7);
}

.foot {
	position: absolute;
	bottom: 10px;
	z-index: 1000;
	text-align: center;
	width: 100%;
	color: #535353;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}

.home {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 70px;
	top: 10px;
	z-index: 200;
	cursor: pointer;
}

.home a {
	font-size: 20px;
	color: #999;
	line-height: 50px;
	display: block;
	text-align: center;
}

#menu {
	width: 50px;
	height: 50px;
	transform: scale(0.8);
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 1;
	cursor: pointer;
	z-index: 2001;
}

#menu i {
	position: fixed;
	left: 0;
	right: 0;
	margin: 24px auto;
	width: 30px;
	height: 2px;
	background: #777;
	transition: 0.3s all ease;
}

#menu i:before {
	content: '';
	width: 20px;
	height: 2px;
	top: -8px;
	background: #777;
	position: absolute;
	right: 0;
	transition: 0.3s all ease;
}

#menu i:after {
	content: '';
	width: 20px;
	height: 2px;
	bottom: -8px;
	background: #777;
	position: absolute;
	left: 0;
	transition: 0.3s all ease;
}

#menu.on {
	border-radius: 25px;
}

#menu.on i {
	width: 25px;
	background: #777;
}

#menu.on i:before {
	top: -5px;
	transform: rotate(45deg);
	width: 14px;
	right: -1px;
	left: auto;
	background: #777;
}

#menu.on i:after {
	bottom: -5px;
	transform: rotate(-45deg);
	width: 14px;
	right: -1px;
	left: auto;
	background: #777;
}

.list {
	width: 337px;
	padding: 0 20px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0px;
	z-index: 2000;
	background: #efefef;
	transition: 0.3s all ease;
	webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.list::-webkit-scrollbar {
	display: none;
}

.list.closed {
	right: -380px;
}

.list ul {
	width: 330px;
	float: left;
	padding: 0 0 20px;
	margin-bottom: 20px;
}

.list ul li {
	float: left;
	margin: 5px;
	width: 98px;
	height: 28px;
	text-align: left;
	line-height: 30px;
}

.list ul li a {
	width: 100%;
	border-radius: 13px;
	/* transition: 0.2s all linear; */
	height: 100%;
	display: block;
	color: #242424;
	font-weight: 500;
	background: #ffffff;
	text-align: left;
	font-size: 13px;
	border: 1px solid white;
}

.list ul li a i {
	margin-right: 5px;
	margin-left: 15px;
	/* transition: 0.2s all linear; */
	filter: alpha(Opacity=60);
	opacity: 0.8;
}

.list ul li a i.iconfont {
	font-size: 14px;
}

.list ul li:hover a {
	border: 1px solid #5f5f5f;
}

.list ul li.title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 30px 0 0;
	text-align: left;
	text-indent: 10px;
	/*border-bottom: 1px dashed #dedede;*/
	color: #242424;
	font-size: 18px;
	font-weight: bold;
}

.list ul li.title i {
	color: #29f;
	margin-right: 5px;
	font-weight: normal;
}

.list ul li.title i {
	color: #29f;
	margin-right: 5px;
	font-weight: normal;
}

.mywth {
	position: absolute;
	left: 20px;
	top: 15px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	z-index: 100000;
}


@media (max-width: 640px) {
	.con {
		top: -30%;
	}

	.con .shlogo {
		width: 320px;
		height: 100px;
	}

	.con .sou form .wd:focus {
		background: #f1f1f1;
		box-shadow: none;
		border-color: #ccc
	}

	.con .sou form button {
		border-radius: 25px;
	}

	.list {
		width: 227px;
	}

	.list ul {
		width: 220px;
	}

	.con .sou ul li {
		width: 100px;
		font-size: 12px;
		text-indent: 30px;
	}

	.home,
	#menu {
		top: 5px;
	}

	.mywth {
		left: 10px;
		top: 20px;
	}
}

@media (max-height: 420px) {
	.con {
		margin: 0;
		top: -30%;
	}

	.con .sou form .wd {
		text-indent: 50px;
	}

	.con .sou form:after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 10px;
		top: 10px;
		background: url(icon/lg.svg) no-repeat center/cover;
		border-radius: 50%;
		overflow: hidden;
	}

	.con .shlogo {
		display: none;
	}

	.home,
	#menu,
	.foot {
		display: none;
	}
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: #222d46;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	background: #293550;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: #293550;
}

::-webkit-scrollbar-corner {
	background: #222d46;
}

.icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: -0.35em;
	fill: currentColor;
	overflow: hidden;
	padding: 0 5px 0 7px;
}
